.Container {
    text-align: center;
    margin-top: 10%;
}

.Container:before {
     content: '';
     height: 100%;
     display: inline-block;
     vertical-align: middle;
}

.Content {
    display: inline-block;
    vertical-align: middle;
}
